body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);  
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 10px;
  margin: 0;
}
/* For the home page */
.home-page {
  height: 50vh;
  width: 100vw;
  background-image: url("./Img/valley.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 1;
  margin: 0;
}
.bottom-contact {
  position: relative;
  bottom: 0%;
  margin-top: 20px;
  background-color: #383736;
  text-align: center;
  width: 100%;
}
h1,
h3,
h2,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  display: inline;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  margin: 0;
  position: sticky;
}

/* Style the links inside the navigation bar */
.topnav .item {
  height: 3vh;

  color: #f2f2f2;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 0.7rem;
}

/* Change the color of links on hover */
.topnav .item:hover {
  margin: 0;
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav .item.active {
  background-color: #4caf50;
  color: white;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* About Page Intro */
.about-page-intro {
  margin: 20px 0;
  background-image: url("./Img/Waterfall.jpg");
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 60vh;
  width: 100vw;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 0;
}
/*
 TEAM PAGE
*/
.team-page {
  background-image: url("./Img/founderHero.jpg");
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 60vh;
  width: 100vw;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 0;
}
.three-seven {
  grid-column: 1/7;
}
.keith-img {
  background-image: url("./Img/founderHero.jpg");
}
.keith-bio {
  grid-column: 7/11;
}
.bio-block {
  border-style: solid;
}

/*
END TEAM PAGE
*/
.model {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 45%;
  width: 50%;
  background-color: black;
  color: white;
  background: rgba(56, 255, 255, 0.07);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.model h2,
.title {
  padding: 25px 0;
  text-decoration: underline;
  font-size: 3rem;
  margin: 0;
}
.description{
  grid-column: 2/6;
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: bolder;
  margin: 40px auto;
}
.model h6 {
  font-size: 1.4rem;
  padding-bottom: 10px;
}
.icon{
  grid-column: 9/14;
  background: rgba(44, 49, 49, 0.45);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.full-width{
  margin: 40px auto;
  width: 80%;
}
.icon i{
  z-index: 1;
  padding-top: 2px;
  font-size: 1.2rem;
  background: rgba(123, 133, 133, 0.657);
}
.purple {
  border-color: #a943c9;
}
.spacer {
  height: 15vh;
}
i {
  background: rgba(123, 133, 133, 0.657);
}
a {
  text-decoration: none;
  color: #383736;
}
button {
  position: relative;
  display: block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover,
button a:hover {
  color: whitesmoke;
}
.fill:before,
button a:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before,
button a:hover:before {
  top: 0;
}
.fill:hover,
button a:hover {
  color: whitesmoke;
}

/*
THE BEGINNING OF THE PHOTO AND ABOUT PAGE STYLING
*/
.grid-container .title {
  grid-column: 1/-1;
  text-align: center;
}
.grid-container .picture {
  height: 50vh;
}
.grid-container .p3 {
  grid-column: 2/7;
  background-color: black;
  margin-left: 10px;
  border-style: solid;
}
.grid-container .p2 {
  grid-column: 7/13;
  background-color: black;
  margin-right: 10px;
  border-style: solid;
}

.p1,
.p2,
.p3,
.p4,
.keith-img {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 0;
  margin: 0;
}
.p1 {
  background-image: url("./Img/black-white-tree.jpg");
  opacity: .2;
  grid-column: 5/10;
  margin: 0;
}

/* .p1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */
.right-text-body, .left-text-body, .left-text-body-sec, .right-text-body-sec {
  grid-column: 3/5;
  font-size: 2rem;
  line-height: 2.5rem;
}
.left-text-body {
  grid-column: 1/3;
}
.left-text-body-sec{
  grid-column: 10/12;
}
.right-text-body-sec{
  grid-column: 12/14;
}
/*
THE END OF THE ABOUT PAGE AND THE BEGINNING OF 
OF THE PROFILES
*/
.grid-container .setting-title {
  grid-column: 1/-1;
  text-align: center;
  font-size: 4rem;
  border-bottom: solid;
  margin: 0;
}
.grid-container .setting-sidebar {
  grid-column: 1/3;
  position: sticky;
  margin: 0;
  margin-left: 15px;
}
.display-block {
  grid-column: 3/13;
  height: 70vh;
  border-style: solid;
}
.row {
  grid-column: 1/-1;
}
ul {
  padding: 0;
  margin: 0 0 0 5px;
  list-style: none;
  height: 50vh;
}
li {
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 20px 0;
  font-weight: bolder;
  border-bottom-style: solid;
}
li:hover {
  background-color: lightgray;
}
.upload-btn {
  grid-column: 1/-1;
}
.input {
  width: 60%;
  margin-left: 15%;
  margin-right: 15%;
  height: 4vh;
  padding: 10px 0;
  display: block;
  border-style: none none solid none;
  font-size: 1.3rem;
}
p {
  margin-top: 3px;
  text-align: center;
}
input:focus {
  outline: none;
}
button.upload {
  width: 60%;
  margin-left: 15%;
  margin-right: 15%;
  height: 7vh;
  border-radius: 8px;
}
button.upload:hover {
  background-color: #4caf50;
}
label input {
  display: none;
}
.blogpost-container {
  position: absolute;

  left: 22%;
  top: 22%;
  height: 65vh;
  width: 65vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.row {
  grid-column: 1/-1;
  margin-right: 10px;
}
label {
  width: 100%;
  font-size: 2.4rem;
  padding: 3px 20px;
}
.right {
  grid-column: 10/12;
}
.btn.right:hover {
  transition: .5s;
  background-color: green;
}
/*
IF VALID OR INVALID INPUTS
*/
.red {
  border-color: red;
}
.green {
  border-color: green;
}
.center {
  text-align: center;
}
.mt-20 {
  margin-top: 20px;
}
.white{
  color: white;
}
.ml-20 {
  margin-left: 20px;
}
.grid-three-eleven {
  grid-column: 3/11;
}
/*
DISPLAYING THE BLOGS!!
*/
.our-journey{
  border-style: solid none;
  width: 100%;
  margin: 0;
  font-size: 2rem;
  line-height: 4rem;
  background-color:rgba(123, 133, 133, 0.5);
}
.about-blog{
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
}
.blog-body {
  grid-column: 2/13;
  border-style: solid;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 15px 0;
  cursor: pointer;
}
.blog-body:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.22);
}
.blog-title {
  font-size: 2.3rem;
  line-height: 3rem;
  font-weight: bolder;
}
.blog-body {
  padding-bottom: 15px;
}
.text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: black;
}
.button{
 
  float:right;
}
.post-button:hover{
  transition: .5s;
  background-color: red;
}
/*
MODEL DESIGN 
 */
 .full-screen{
   position: absolute;
   margin: 0;
   width: 100vw;
   height: 97vh;
   overflow: hidden;
   background-color: rgba(123, 133, 133, 0.5);
   z-index: 3;
 }
 .model-body{
    margin: auto;
    grid-column: 3/12;
    border-style: solid;
   background-color:silver;
   border-radius: 12px;
 }
 .model-title{
   width: 100%;
   text-align: center;
   border-bottom-style: solid;
   padding: 20px 0;
 }