body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
/* For the home page */
.home-page {
  height: 97vh;
  width: 100vw;
  background-image: url("./Img/valley.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 0;
  margin: 0;
}


h1,
h3,
h2,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  display: inline;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  margin: 0;
}

/* Style the links inside the navigation bar */
.topnav .item {
  height: 3vh;

  color: #f2f2f2;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 0.7rem;
}

/* Change the color of links on hover */
.topnav .item:hover {
  margin: 0;
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav .item.active {
  background-color: #4caf50;
  color: white;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* About Page Intro */
.about-page-intro {
  background-image: url("./Img/Waterfall.jpg");
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 60vh;
  width: 100vw;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 0;
}
.model,
.icon {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 45%;
  width: 50%;
  background-color: black;
  color: white;
  background: rgba(56, 255, 255, 0.07);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.model h2,
.title {
  padding: 25px 0;
  text-decoration: underline;
  font-size: 3rem;
  margin: 0;
}
.model h6 {
  font-size: 1.4rem;
}
.icon i,
.icon {
  z-index: 1;
  padding-top: 2px;
  font-size: 1.2rem;
  background: rgba(123, 133, 133, 0.657);
}
.purple {
  border-color: #a943c9;
}
.spacer {
  height: 15vh;
}
i{
  background:  rgba(123, 133, 133, 0.657); 
}
a{
  text-decoration: none;
  color: #383736;
}
button {
  position: relative;
  display: block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover, a:hover {
  color: whitesmoke;
}

.fill:before, a:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before, a:hover:before {
  top: 0;
}
.fill:hover, a:hover {
  
  color: whitesmoke;
}


.grid-container{
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 5px;
  margin: 0;
  padding-bottom: 20px;
}
.grid-container .title{
  grid-column: 1/-1;
  text-align: center; 
}
.grid-container .picture{
  height: 50vh;
}
.grid-container .p1, .grid-container .p3{
  grid-column: 2/7;
  background-color: black;
}

.grid-container .p2, .grid-container .p4{
  grid-column: 7/12;
  background-color: black;
}
.p1, .p2, .p3, .p4{
  
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 0;
  margin: 0;
}
.p1{
  background-image: url("./Img/p1.jpg");
}
.p2{
  background-image: url("./Img/p2.jpg");
}
.p3{
  background-image: url("./Img/p3.jpg");
 
}
.p4{
  background-image: url("./Img/p4.jpg");
 
}
.p1:hover, .p2:hover, .p3:hover, .p4:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.grid-container .setting-title{
  grid-column: 1/-1;
  text-align: center;
  font-size: 4rem;
  border-bottom: solid;
}